:root{
    --width: 20px;
}

.frame{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--width));
    column-gap: 4px;
    width: auto;
    padding: 3px;
    /*border: 2px dotted rgb(163, 163, 165);*/
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: black;
    font-weight: bolder;

}
.pixel{
    width: var(--width);
    height: var(--width);
    border: 1px double black;
    border-radius: 50%;
}