:root{
    --width: 20px;
}

.frame{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--width));
    grid-template-rows: max-content;
    column-gap: 4px;
    width: auto;
    padding: 5px;

}
.pixel{
    width: var(--width);
    height: var(--width);
    border: 1px double black;
}