:root{
    --width: 20px;
}

.frame{
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--width));
    column-gap: 4px;
    width: auto;
    padding: 3px;
    border: 2px dotted rgb(163, 163, 165);
    background-color: whitesmoke;
}
.pixel{
    width: var(--width);
    height: var(--width);
    border: 1px double black;
    border-radius: 50%;
}