.App {
  text-align: center;
}

.topSection{
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: max-content;
}

.bottomSection{
  width: auto;
}

.helpButton{
  position: absolute;
  right:2px;
  top: 2px;
  display: flex;
}

.helpSection{
  color: white;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18pt;
}

.helpSection li{
  text-align: left;
}

.gitHubIcon{
  width:10px;
  height: 10px;
}
