
    .smallRoundButton {
        background-color:#44c767;
        border-radius:10px;
        padding: 0px 10px;
        border: none;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .smallRoundButton:active {
        background-color:grey;
    }

    .smallRoundButton:hover {
        opacity: 70%;
    }
    

